input[type="date"]::-webkit-calendar-picker-indicator {
    //display: none;
    //-webkit-appearance: none;
    width: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.custom-inpt { // style class to adjust the Date Input control default padding value
    padding: 10px !important;
}